<div class="top navbar-fixed-top" role="header">
  <div class="container">
    <a href="#" class="navbar-brand pull-left">
      消息查看
    </a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <nav class="navbar-collapse collapse" role="navigation">
      <ul class="navbar-nav nav">
        <li><a href="#/">首页工作提醒</a></li>
        <li><a href="#">隐患核查复查</a></li>
        <li><a href="#">分级评定</a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search" style="padding-top: 5px">-->
      <!--<div class="form-group">-->
      <!--<input type="text" class="form-control input-sm" placeholder="搜索你感兴趣的事情">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-sm">搜索</button>-->
      <!--</form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">注册</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">登陆 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Middle content section -->
<div class="middle">
  <div class="container">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i>消息内容</h2>

        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round btn-default"><i
            class="glyphicon glyphicon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round btn-default"><i
            class="glyphicon glyphicon-chevron-up"></i></a>
          <!--<a href="#" class="btn btn-close btn-round btn-default"><i-->
          <!--class="glyphicon glyphicon-remove"></i></a>-->
        </div>
      </div>
      <div class="box-content">
        <div class="row sjdw">
          <div class="col-md-4"><strong>消息详细内容</strong>
            <p>
              <small id="sjdwmc">广州医药集团的企业信息审核已通过。</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
