


<div class="container">
<div class="row" style="margin-left: 0;margin-right: 0;">

  <div class="row">
    <div class="col-md-12 center login-header">
      <h4>广州市安全生产监督管理局</h4>
      <h4>隐患排查治理系统</h4>
    </div>
    <!--/span-->
  </div><!--/row-->

  <div class="row">
    <div class="  col-xs-12 col-md-12 center">
      <div class="alert alert-info">
        请输入用户名密码.
      </div>
      <div class="center" style="display: none" id="loadAjax">
        <img src="images/ajax-loader.gif" alt=""/>登陆中...
      </div>
      <div class="input-prepend">
        <input type="radio"  name="type" >政府部门
        <input type="radio"  name="type" >企业用户
      </div>
      <br/>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
            <input type="text" class="form-control" placeholder="用户名" ng-model="username">
          </div>
          <div class="clearfix"></div><br>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
            <input type="password" class="form-control" placeholder="密码" ng-model="password">
          </div>
          <div class="clearfix"></div>

          <div class="input-prepend" style="text-align: left">
            <label class="remember" for="remember"><input type="checkbox" id="remember" style="margin-left: 0;margin-right: 0;">下次自动登录</label>
          </div>
          <div class="clearfix"></div>

          <p class="center col-md-12 col-xs-12">
            <button type="button" class="btn btn-lg btn-info" ng-click="login(username,password)">登陆</button>
          </p>
    </div>
    <!--/span-->
  </div><!--/row-->
</div><!--/fluid-row-->
<div style="height: 500px"></div>
</div><!--/container-->

